<form action="/delete/action" method="POST">
	Enter Category to delete: 
	<input type="text" name="category"><br/>
	Enter Unique ID Number of the category: 
	<input type="text" name="id"><br/>
	Category List:<br/>
	User <br/>
	Student <br/>
	Employee <br/>
	Loan <br/>
	Donor <br/>
	Book <br/>
	Author <br/>
	<input type="submit" value="Delete">
</form>
<br/>
<div class="list-group">
 
  <a href="users" class="list-group-item list-group-item-action">Show Users</a>
  <a href="students" class="list-group-item list-group-item-action">Show Students</a>
  <a href="employees" class="list-group-item list-group-item-action">Show Employees</a>
  <a href="loans" class="list-group-item list-group-item-action">Show Loans (Checked Out Books)</a>
  <a href="donors" class="list-group-item list-group-item-action">Show Donors</a>
  <a href="books" class="list-group-item list-group-item-action">Show Books</a>
  <a href="authors" class="list-group-item list-group-item-action">Show Authors</a>

</div>