<form action="/books/create" method="POST">
	title: <input type="text" name="title"><br/>
	edition: <input type="text" name="edition"><br/>
	condition: <input type="text" name="condition"><br/>
	author: <input type="text" name="author"><br/>
	cost: <input type="text" name="cost"><br/>
	isbn: <input type="text" name="isbn"><br/>
	book_id: <input type="text" name="book_id"><br/>
	<input type="submit" value="Create">
</form>