<form action="/loans/create" method="POST">
	check_out_date: <input type="text" name="check_out_date"><br/>
	check_in_date: <input type="text" name="check_in_date"><br/>
	expected_return_date: <input type="text" name="expected_return_date"><br/>
	student_id: <input type="text" name="student_id"><br/>
	book_id: <input type="text" name="book_id"><br/>
	<input type="submit" value="Create">
</form>