<form action="/employees/create" method="POST">
	fname: <input type="text" name="fname"><br/>
	lname: <input type="text" name="lname"><br/>
	phone_number: <input type="text" name="phone_number"><br/>
	email: <input type="text" name="email"><br/>
	<input type="submit" value="Create">
</form>